{{define "about"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 class="topic">Selamat datang di website belajar golang</h1>
    <p>
        yang kita akan pelajari adalah bagaimana membuat web / web api menggunakan golang tanpa menggunakan
        framework
    </p>
</body>
</html>
{{end}}